#alerts.row.dropdown
  %button.view-all.pull-right.btn.btn-default.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :type => "button"}
    View All
    %span.caret
  #alert_scroll
    .wrap
