.popover-html
  %table.table.table-bordered.table-condensed
    %tr
      %th{:width => "150"} Client
      %th.textual{:width => "150"} Project
      - week_beginning_dates.each do |date|
        = table_head_for_week_beginning(date, 'width' => 10)
    - last_client = nil
    - row.each_project do |client, project, week_hours|
      %tr
        %td= client unless client == last_client
        %td.textual= project
        - week_hours.each do |hours|
          %td= hours > 0 ? hours.to_i : ''
      - last_client = client
